<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunxi.map.dao.LineMapper">


    <update id="update">
        UPDATE account set money=#{money} WHERE id=#{id}
    </update>

    <select id="getUserById" resultType="mapUser" parameterType="mapUser">
        select * from user where id=#{id}
    </select>

    <select id="getAll" resultType="line" >
        select * from line ;
    </select>

    <insert id="addLine" parameterType="line" >
        INSERT  INTO line (longitudeA,latitudeA,longitudeB,latitudeB,direction) VALUE (#{longitudeA},#{latitudeA},#{longitudeB},#{latitudeB},#{direction});
    </insert>

    <delete id="deleteLine" parameterType="int">
        DELETE  from line where id=#{id}
    </delete>
</mapper>