<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunxi.map.dao.MapUserMapper" >
    
    
    <select id="login" parameterType="mapuser" resultType="mapuser">
      SELECT  * FROM  mapuser where Username=#{Username} and Password=MED5(#{Password}) limit 0,1;
    </select>

    <select id="getUserByid" resultType="mapuser" parameterType="int">
      SELECT * from mapuser where id=#{id};
    </select>

    <insert id="registeredoradduser" parameterType="mapuser">
      INSERT INTO  mapuser ( UserCode, Username, Password, Isdelete, CreadtTime) VALUE ( #{UserCode}, #{Username}, MD5(#{Password}), #{Isdelete}, now())
    </insert>
    <update id="updateuser"  parameterType="mapuser">
    UPDATE mapuser
    <set>
        <if test="UserCode!=null and UserCode!=''">UserCode=#{UserCode}</if>
        <if test="Username!=null and Username!=''">Username=#{Username}</if>
        <if test="Password!=null and Password!=''">Password=MD5(#{Password})</if>
        <if test="Isdelete!=null and Isdelete!=''">Isdelete=#{Isdelete}</if>
        <if test="CreadtTime!=null and CreadtTime!=''">CreadtTime=#{CreadtTime}</if>
    </set>
        where id=#{id};
    </update>
    <delete id="deluser" parameterType="int">
        DELETE  from mapuser WHERE id=#{id};
    </delete>
</mapper>
